/* PaperDetail.css */
:root {
  --primary-color: #007bff;
  --border-color: #ccc;
  --border-radius: 5px;
  --background-light: #f9f9f9;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --text-color: #333;
  --text-color-light: #666;
  --text-color-white: #fff;
  --input-border-color-focus: rgba(204, 204, 204, 0.75);
  --button-background-color-hover: #0056b3;
}

.paper-detail-container {
  font-family: 'Arial', sans-serif;
  background-color: var(--background-light);
  color: var(--text-color);
  padding: 20px;
  margin: auto;
  max-width: 800px;
  box-shadow: var(--shadow-color) 0 4px 8px;
  border-radius: var(--border-radius);
}

.paper-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.paper-detail h2,
.paper-detail p strong {
  color: var(--text-color);
}

.paper-detail p {
  color: var(--text-color-light);
  margin: 10px 0;
}

.paper-detail a {
  color: var(--primary-color);
  text-decoration: none;
}

.paper-detail a:hover,
.paper-detail a:focus,
.paper-detail-buttons:hover,
.paper-detail-buttons:focus {
  color: var(--button-background-color-hover);
  outline: none;
}

@media (max-width: 600px) {
  .paper-detail-container {
    margin: 20px;
    max-width: 100%;
  }
}

.paper-detail-buttons {
  padding: 10px 15px;
  font-size: 17px;
  background-color: var(--primary-color);
  color: var(--text-color-white);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.recommended-papers-container,
.recommended-papers-list,
.recommended-paper {
  background-color: var(--text-color-white);
  border-radius: var(--border-radius);
}

.recommended-papers-container {
  margin-top: 30px;
  padding: 20px;
  box-shadow: var(--shadow-color) 0px 2px 4px;
}

.recommended-papers-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.recommended-paper {
  width: 100%;
  padding: 10px 15px;
  margin: 15px 0;
  border: 1px solid var(--border-color);
  box-shadow: var(--shadow-color) 0px 1px 3px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: block;
  box-sizing: border-box;
  text-decoration: none;
}

.recommended-paper:hover,
.recommended-paper:focus {
  transform: translateY(-3px);
  box-shadow: var(--shadow-color) 0px 4px 6px;
  cursor: pointer;
}

.pdf-viewer {
  width: 100%;
  height: 90vh;
  border: 1px solid #ccc;
  margin-top: 20px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 1000px;
  min-height: 400px;
  max-height: 90vh;
  background: var(--text-color-white);
  padding: 20px;
  box-shadow: 0 2px 10px var(--shadow-color);
  z-index: 1000;
  overflow-y: auto;
}

.popup-inner ul {
  list-style: none;
  padding: 0;
}

.popup-inner ul li {
  margin-bottom: 10px;
}

.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}


.bookmark-button {
  padding: 10px 15px;
  font-size: 17px;
  background-color: var(--primary-color);
  color: var(--text-color-white);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bookmarked {
  background-color: #28a745; /* Green color when bookmarked */
}

.bookmark-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.bookmarked:hover {
  background-color: #218838; /* Darker green on hover */
}
