:root {
    --primary-color: #007bff;
    --border-color: #ccc;
    --border-radius: 5px;
    --background-light: #f9f9f9;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --text-color-white: #fff;
    --text-color-black: #000;
    --input-border-color-focus: rgba(204, 204, 204, 0.75); /* Adjusted for CSS compatibility */
    --button-background-color-hover: #0056b3; /* Darkened version of primary color */
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0;
}

.logo {
    font-size: 24px;
    text-decoration: none;
    color: var(--text-color-black);
}

.header-right {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 20px;
    margin-top: 20px;
    display: flex;
}

.search-container h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.search-container form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container input[type="text"],
.search-input {
    padding: 10px;
    font-size: 17px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    width: 300px;
    margin-right: 10px; /* Adjusted for search-container input */
}

.search-container button,
.search-button {
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 17px;
    color: var(--text-color-white);
    background-color: var(--primary-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.readmore{
    margin-top: 20px;
    padding: 5px 5px;
    font-size: 10px;
    color: var(--text-color-white);
    background-color: var(--primary-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.header-right button {
    text-decoration: none;
    margin-right: 15px;
    padding: 5px 10px;
    background: none;
    border: 1px solid var(--text-color-black);
    cursor: pointer;
}

.results-container {
    margin-top: 20px;
}

.paper {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: var(--border-radius);
    box-shadow: 0 2px 4px var(--shadow-color);
    background-color: var(--background-light);
}

.paper h4 {
    margin: 0 0 10px 0;
}

.paper p {
    margin: 5px 0;
}

@media (max-width: 600px) {
    .search-container input[type="text"],
    .search-container button {
        width: 100%;
        margin-right: 0; /* Remove margin for full width on smaller screens */
        margin-bottom: 15px;
    }
}

.search-button:hover,
.search-button:focus {
    background-color: var(--button-background-color-hover);
    outline: none;
}

.search-input:focus {
    border-color: var(--input-border-color-focus);
    outline: none;
}
