.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--background-light);
}

.signup-container form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    box-shadow: var(--shadow-color) 0 4px 8px;
    border-radius: var(--border-radius);
    background-color: var(--text-color-white);
}

.signup-container input[type="email"],
.signup-container input[type="password"] {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin: 0;
    font-size: 17px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    outline: none;
}

.signup-container button {
    width: 100%;
    max-width: 300px;
    padding: 10px 15px;
    font-size: 17px;
    background-color: var(--primary-color);
    color: var(--text-color-white);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signup-container button:hover,
.signup-container button:focus {
    background-color: var(--button-background-color-hover);
    outline: none;
}

/* Back to Search Page is using this class */
.signup-back-button {
    margin-top: 20px; /* Adjust the space as needed */
    width: 100%;
    max-width: 300px; /* Match the "Sign Up" button width */
    background: none;
    border: none;
    color: var(--primary-color);
    text-decoration: underline;
    cursor: pointer;
}

/* Additional styles for Google Login button to make it consistent with the form */
.google-login-button {
    margin-top: 20px; /* Adjust the space as needed */
    width: 100%;
    max-width: 300px; /* Match the "Sign Up" button width */
    background: none;
    border: none;
    color: var(--primary-color);
    text-decoration: underline;
    cursor: pointer;
}
